body{
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    opacity: .9;
    color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
}
.header{
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.logo{
    display: inline-flex;
    justify-content: flex-start;
    height: 50px;
    margin-left: 10px;
    padding:9.5px 0;
    width: 80%;}

a:link{
    color: seashell;
}

.nav{
    display: inline-flex;
    height: 50px;
    justify-content: center;
}

a{
    margin-left: 15px;
}

.spacer{
    height: 69px;
    width: 100%;
}

.mission{
    position: static;
    height: 700px;
    width: 1200px;
    background-image: url("../TeaCozy/images/img-mission-background.jpg");
    background-size: cover;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.missionText{
    background-color: black;
    position: absolute;
    top: 40%;
    width: 1200px;
}

.totm{
    width: 1000px;
    text-align: center;
}

.totmimg{
    width: 300px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.totmimg img{
    height: 200px;;
}